.container-modulos{
    width: 100%;
    padding-right: 7.5px;
    padding-left: 7.5px;
    margin-right: auto;
    margin-left: auto;
}
.fa-A:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'A';
}

.fa-N:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'N';
}