.marginOFF-ul{
    height: 821px;
}
.marginOFF-li{
    margin-top: 293%;
}

@media (min-height: 904px){
    .marginOFF-li{
        margin-top: 293%;
    }
}

@media (max-height: 903px){
    .marginOFF-li{
        margin-top: 266%;
    }
}
@media (max-height: 837px){
    .marginOFF-li{
        margin-top: 224%;
    }
}
@media (max-height: 724px){
    .marginOFF-li{
        margin-top: 192%;
    }
}
@media (max-height: 670px){
    .marginOFF-li{
        margin-top: 163%;
    }
}
@media (max-height: 635px){
    .marginOFF-li{
        margin-top: 150%;
    }
}
@media (max-height: 616px){
    .marginOFF-li{
        margin-top: 133%;
    }
}
@media (max-height: 576px){
    .marginOFF-li{
        margin-top: 125%;
    }
}
@media (max-height: 552px){
    .marginOFF-li{
        margin-top: 114%;
    }
}
@media (max-height: 529px){
    .marginOFF-li{
        margin-top: 106%;
    }
}
@media (max-height: 505px){
    .marginOFF-li{
        margin-top: 92%;
    }
}
@media (max-height: 476px){
    .marginOFF-li{
        margin-top: 89%;
    }
}
@media (max-height: 460px){
    .marginOFF-li{
        margin-top: 82%;
    }
}
@media (max-height: 450px){
    .marginOFF-li{
        margin-top: 0%;
    }
}